$input-readonly-font-weight: $font-weight-regular !default;
$input-static-color: $palette-gray-12 !default;
$input-static-font-size: $font-size-text-sm-md !default;
$input-static-font-weight: $font-weight-regular !default;
$height-input: $line-height-item-label !default;
$text-height-input: $line-height-item-label !default;
$input-color-border-primary: $black-border-primary !default;