$font-size-small: 0.75rem !default;
$font-size-medium: 0.8125rem !default;
$font-size-medium-a: 0.875rem !default;
$font-size-large: 1rem !default;
$font-size-large-17: 1.065rem !default;
$font-size-x-large: 1.25rem !default;
$font-size-xx-large: 1.75rem !default;
$font-size-x-small: 0.625rem !default;
$font-size-x-large-a: 1.57rem !default;

// Not use above values. 
// Use the below values for same size.


// Extra extra small text.
$font-size-text-xx-small: $font-size-1 !default;  // 0.625rem
// Extra small body text.
$font-size-text-x-small: $font-size-2 !default;  // 0.75rem
// Small body text.
$font-size-text-small: $font-size-3 !default;  // 0.8125rem
// Small-Medium body text.
$font-size-text-sm-md: $font-size-4 !default;  // 0.875rem
// Medium body text.
$font-size-text-medium: $font-size-5 !default;  // 1rem = 16px
// Medium-Large body text.
$font-size-text-md-lg: $font-size-5-1 !default;  // 1.065rem = 17px
// Large body text.
$font-size-text-large: $font-size-6 !default;  // 1.125rem
// Extra large body text.
$font-size-text-x-large: $font-size-7 !default; // 1.25rem
// XXL large body text.
$font-size-text-xx-large: $font-size-8 !default; // 1.5rem
// XXXL large body text.
$font-size-text-xxx-large: $font-size-9 !default; // 2rem

// Extra Extra small headings.
$font-size-heading-xx-small: $font-size-1 !default;
// Extra small headings.
$font-size-heading-x-small: $font-size-2 !default;
// Small headings.
$font-size-heading-small: $font-size-4 !default;
// Medium headings.
$font-size-heading-medium: $font-size-6 !default;
// Large headings.
$font-size-heading-large: $font-size-8 !default;
// Extra large headings.
$font-size-heading-x-large: $font-size-9 !default;


// letter-spacing
$letter-spacing-05: 0.5px;
$letter-spacing-1: 1px;
$letter-spacing-2: 2px;
$letter-spacing-3: 3px;
$letter-spacing-4: normal;

$letter-spacing-x-sm: $letter-spacing-05 !default;
$letter-spacing-sm: $letter-spacing-1 !default;
$letter-spacing-md: $letter-spacing-2 !default;
$letter-spacing-lg: $letter-spacing-3 !default;
$letter-spacing-normal: $letter-spacing-4 !default;


// WorkSpace text font-side handling 
$wsv-text-font-size: $font-size-text-small;