//wsv colors
$btn-step-chart-box-shadow: $dc-modal-border-color !default;
$step-font-color: $matter-horn !default;
$step-border-color: $palette-cool-gray-13 !default;
$step-border-color-completed-after: $newport-color-hippie-green!default;
$step-border-color-completed-after-hover: $newport-color-dark-green!default;
$step-background-color-completed: $newport-color-dark-green!default;
$step-number-circle-background: $diarylide-yellow !default;
$step-current-step-after-border-color: $diarylide-yellow !default;
$step-current-step-after-border-color: $sunglow-yellow !default;
$step-current-step-background-color: $sunglow-yellow !default;
