$form-label-font-size: $wsv-text-font-size !default;
$form-label-font-weight: $font-weight-regular !default;
$form-label-font-weight-normal: $font-weight-normal !default;
$form-label-pre-animate-font-size: $font-size-text-sm-md !default;
$form-label-pre-animate-font-weight: $font-weight-regular !default;
$form-placeholder-weight: $font-weight-light !default;
$form-placeholder-font-size: $font-size-4 !default;
